{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class='center2'>
      <form method="post" class="post_form">
        <p>
        <textarea name="body" cols="140" rows="5" maxlength="140" required="" id="id_body" placeholder="What's popin?"></textarea>
        </p>
    {% csrf_token %}
    <p><input type="submit" id="Prześlij"></p>
  </form>
      <div style="height: 50px;"></div>
      {% for post in posts %}

        <div class="test">
          <div style="display: flex; justify-content: space-between;">
          <img style="height:40px;width:40px;border-radius: 50%;margin: 5px;" src="{% if post.author.profile.photo %}{{ post.author.profile.photo.url }}{% else %} {% static 'img/no_image.png' %}{% endif %}" ><p style="flex-basis: 50%;text-align: left;margin-left: 5%;"><b>{{ post.author }}</b></p>
          <p style="flex-basis: 50%;text-align: right;margin-right: 5%;">{{ post.created }}</p>
          <!-- 49.5% + 49.5% = 99%, remaining 1% is distributed according to justify-content -->
          </div>
          <p style="text-align: left; margin-left: 5%;">{{ post.body }}</p>
        </div>
      <div style="height: 50px;"></div>
      {% endfor %}
    </div>
{% endblock %}